

<div class="container info" *ngIf="rutaPagina=='monitoreo'" style="height:500px; width:600px; padding-top:150px">
  <p>Monitoreo</p>
</div>
<div  class="container info" *ngIf="rutaPagina=='inventario'">
    <p>Modulo de Inventario</p>
    <div class="contenedor1">
        <div class="row">
            <div class="col-md-9 col-12">
                    <img class="imagenes" src="../../../../assets/images/inventario.PNG" alt="">
            </div>
            <div class="texto col-md-3 col-12">
                    <p>
                            Lorem Ipsum has been the industry's standard dummy text ever 
                            since the 1500s, when an unknown printer took a galley of type
                             and scrambled it to make a type specimen book. It has survived 
                             not only five centuries, but also the leap into electronic 
                             typesetting, remaining essentially unchanged. It was 
                             popularised in the 1960s with the release of Letraset
                             sheets containing Lorem Ipsum passages, and more recently
                             with desktop publishing software like Aldus PageMaker including
                              versions of Lorem Ipsum.
                        </p>
            </div>
        </div>
    </div>
    <div class="contenedor1">
            <div class="row">
                <div class="col-md-9 col-12">
                        <img class="imagenes" src="../../../../assets/images/insumoModal.PNG" alt="">
                </div>
                <div class="texto col-md-3 col-12">
                        <p>
                                Lorem Ipsum has been the industry's standard dummy text ever 
                                since the 1500s, when an unknown printer took a galley of type
                                 and scrambled it to make a type specimen book. It has survived 
                                 not only five centuries, but also the leap into electronic 
                                 typesetting, remaining essentially unchanged. It was 
                                 popularised in the 1960s with the release of Letraset
                                 sheets containing Lorem Ipsum passages, and more recently
                                 with desktop publishing software like Aldus PageMaker including
                                  versions of Lorem Ipsum.
                            </p>
                </div>
            </div>
    </div>
</div>
<div class="container info" *ngIf="rutaPagina=='horas'" style="padding-top:150px">
    <p>Horas</p>
    <div class="contenedor1">
            <div class="row">
                <div class="col-md-9 col-12">
                        <img class="imagenes" src="../../../../assets/images/dispositivo1.jpg" alt="">
                </div>
                <div class="texto col-md-3 col-12">
                        <p>
                                Lorem Ipsum has been the industry's standard dummy text ever 
                                since the 1500s, when an unknown printer took a galley of type
                                 and scrambled it to make a type specimen book. It has survived 
                                 not only five centuries, but also the leap into electronic 
                                 typesetting, remaining essentially unchanged. It was 
                                 popularised in the 1960s with the release of Letraset
                                 sheets containing Lorem Ipsum passages, and more recently
                                 with desktop publishing software like Aldus PageMaker including
                                  versions of Lorem Ipsum.
                            </p>
                </div>
            </div>
        </div>
        <div class="contenedor1">
                <div class="row">
                    <div class="col-md-9 col-12">
                            <img class="imagenes" src="../../../../assets/images/dispositivo2.jpg" alt="">
                    </div>
                    <div class="texto col-md-3 col-12">
                            <p>
                                    Lorem Ipsum has been the industry's standard dummy text ever 
                                    since the 1500s, when an unknown printer took a galley of type
                                     and scrambled it to make a type specimen book. It has survived 
                                     not only five centuries, but also the leap into electronic 
                                     typesetting, remaining essentially unchanged. It was 
                                     popularised in the 1960s with the release of Letraset
                                     sheets containing Lorem Ipsum passages, and more recently
                                     with desktop publishing software like Aldus PageMaker including
                                      versions of Lorem Ipsum.
                                </p>
                    </div>
                </div>
        </div>
</div>



