<div class="container info" style="height:500px; width:600px; padding-top:150px">
    <p>
        Somos un grupo multidisciplinar de
        profesionales en las áreas de la
        agricultura y la informática que busca
        la tecnificación del agro,
        implementando un conjunto de
        soluciones tecnológicas que ayudan a
        mejorar la eficiencia y el rendimiento
        de las labores en el campo, acciones
        que finalmente se verán reflejadas en
        la disminución de costos y el aumento
        de la producción.
        Ponemos a su disposición una serie de
        herramientas digitales con el fin de
        implementar la agricultura de
        precisión, como resultado de esto se
        adquiere un control total y minucioso
        de los cultivos.
    </p>
</div>
