<br>
<span class="movile" >Control del Inventario</span>
<mat-tab-group #tabGroup (selectedIndexChange)="_setDataSource($event)"  >
    <mat-tab label="Inventario">
        <div *ngIf="!isMobile" style="width:98%; height:60px; background:#fff; padding-bottom: 50px ">
            <div class="row">
                <div class="col-md-6">
                    <div style="padding-left: 20px;">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                        </mat-form-field>
                    </div>
                </div>  
                <div class="col-md-3"></div>
                <div *ngIf='role[0]=="admin" || role[0]=="empleadoFlores"' class="col-2 col-md-1" style="padding-top:10px; padding-right:30px; float:right">
                  <button mat-raised-button (click)="descargarInventario()" style="float:right" class="btn btn-sm btn-success"><i style="margin-right:4px" class="fas fa-file-excel"></i><i class="fa fa-download" aria-hidden="true"></i></button>
                </div>
                <div *ngIf='role[0]=="admin" || role[0]=="empleadoFlores"' class="col-4 col-md-2" style="padding-top:10px; padding-right:30px;">
                    <button  mat-raised-button (click)="openDialog()" style="float:right" class="btn btn-sm btn-info">Insumo nuevo</button>
                </div>
            </div>
        </div>
        <div *ngIf="isMobile" style="width:98%; height:60px; background:#fff; padding-bottom: 50px ">
          <div class="row">
              <div class="col-5 col-md-7">
                  <div style="padding-left: 20px; width:100%">
                      <mat-form-field style="width:80%">
                          <input style="width:100%" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                      </mat-form-field>
                  </div>
              </div>  
              
              <div *ngIf='role[0]=="admin"' class="col-4 col-md-4" style="padding-top:10px; padding-right:30px;">
                  <button  mat-raised-button (click)="openDialog()" style="float:right" class="btn btn-sm btn-info">Insumo nuevo</button>
              </div>
              <div class="col-1"></div>
             
          </div>
        </div>
            <table mat-table [dataSource]="_dataSource" class="mat-elevation-z8">
              
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="Insumo">
                  <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Insumo</b>  </th>
                  <td style="width:13%" mat-cell *matCellDef="let elemento"> {{elemento.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="clasificacion">
                  <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Clasificacion</b>  </th>
                  <td style="width:11%" mat-cell *matCellDef="let elemento"> {{elemento.clasificacion}} </td>
                </ng-container>

                <ng-container matColumnDef="proveedor">
                    <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Proveedor</b>  </th>
                    <td style="width:10%" mat-cell *matCellDef="let elemento"> {{elemento.proveedor}} </td>
                </ng-container>
            
                <ng-container  matColumnDef="Cantidad">
                    <th mat-header-cell *matHeaderCellDef> <b style="color:black; width: 200%">Unidades </b>  </th>
                    <td style="width:10%" mat-cell *matCellDef="let elemento"> {{elemento.cantidad}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="UnidadMedida">
                  <th mat-header-cell *matHeaderCellDef><b style="color:black;">Unidad de empaque</b>  </th>
                  <td style="width:15%" mat-cell *matCellDef="let elemento"> {{elemento.unidadMedida}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="CostoTotal">
                        <th mat-header-cell *matHeaderCellDef><b style="color:black;">Costo Total </b>  </th>
                        <td style="width:15%" mat-cell *matCellDef="let elemento"> $ {{elemento.costo}} <span style="color:	#A9A9A9">COP</span> </td>
                </ng-container>
    
                <ng-container  matColumnDef="CostoUnidad">
                    <th mat-header-cell *matHeaderCellDef><b style="color:black;">Costo por unidad </b>  </th>
                    <td style="width:15%" mat-cell *matCellDef="let elemento"> $ {{elemento.CostoUnidad}} <span style="color:	#A9A9A9">COP</span> </td>
                  </ng-container>
              
                  <ng-container matColumnDef="editar">
                      <th mat-header-cell *matHeaderCellDef><b style="color:black;"></b></th>
                      <td mat-cell *matCellDef="let elemento" style="display:inline-flex; justify-content: center; align-items: center"> 
                      <button *ngIf='role[0]=="admin" || role[0]=="empleadoFlores"' class="botones btn btn-sm" (click)="editarCantidad(elemento)" style="height:30px; margin-right:10px;"><i style="font-size:10px;" class="fas fa-edit"></i></button>
                      <button *ngIf='role[0]=="admin" || role[0]=="empleadoFlores"' class="botones btn btn-sm" (click)="ingresarCantidad(elemento)" style="height:30px; margin-right:10px;"><i style="font-size:10px;" class="fas fa-plus"></i></button>
                      <button class="botones btn btn-sm" (click)="extraerCantidad(elemento)" style="height:30px;  margin-right:10px;"><i style="font-size:10px;" class="fas fa-minus"></i></button>
                      <button *ngIf='role[0]=="admin" || role[0]=="empleadoFlores"' class="botones bot btn btn-sm" style="height:30px;" (click)="deleteInsumo(elemento._id, elemento)"><i style="font-size:10px;"  class="far fa-trash-alt"></i></button>
                      </td>
                  </ng-container>
                  
                <!-- Symbol Column -->
                
              
                <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator2 style="width:98%" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </mat-tab>


    <!-- Historial -->
    <mat-tab label="Historial" style="height:500px">
        
      <div *ngIf="!isMobile" class="finanzas" style="width:98%; height:60px; background:#fff; padding-bottom: 50px ">
        <div class="row">
            <div class="col-12 col-md-2" style="display:inline-flex">
                <div style="padding-left: 20px; width:80%">
                    <mat-form-field  style="width:80%">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                    </mat-form-field>
                </div>
                <div style="padding-left: 2px; padding-top: 10px">
                  <!-- <button style="margin-right:10px" class="btn btn-sm btn-light">1Mes</button> -->
                </div>
            </div>  
            <div class="col-12 col-md-1" >
              <div style="padding-left: 20px; padding-top: 10px">
                <!-- <button class="btn btn-sm btn-light">1Sem</button> -->
              </div>
            </div>
            <div style="margin-top:15px;" class="col-5 col-md-3">
              <angular2-date-picker  
                  [(ngModel)]="dateBefore" 
                  [settings]="settings" >
              </angular2-date-picker>
            </div>
            <div style="margin-top:15px;" class="col-5 col-md-3">
              <angular2-date-picker 
                  [(ngModel)]="dateAfter"
                  [settings]="settings" >
              </angular2-date-picker>
            </div>
            <div class="col-2 col-md-1 buscar" style="padding-top:10px; padding-right:30px;">  
              <button mat-raised-button (click)="fechaIngresada()" style="float:right" class="btn btn-sm btn-default effect1 buscar"><i class="fa fa-search"></i></button>
            </div>
            <div *ngIf='role[0]=="admin" || role[0]=="empleadoFlores"' class="col-2 col-md-1" style="padding-top:10px; padding-right:30px;">
              <button mat-raised-button (click)="descargarExcel()" style="float:right" class="btn btn-sm btn-success"><i style="margin-right:4px" class="fas fa-file-excel"></i><i class="fa fa-download" aria-hidden="true"></i></button>
            </div>
            <div class="col-6 col-md-1" style="padding-top:10px; padding-right:30px;">
                <button *ngIf='role[0]=="admin"' mat-raised-button (click)="eliminarHistorial()" style="float:right" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
      </div>  
      <div *ngIf="isMobile" class="finanzas" style="width:98%; height:60px; background:#fff; padding-bottom: 50px ">
          <div class="row">
              <div class="col-6 col-md-3">
                  <div style="padding-left: 20px; width: 100%">
                      <mat-form-field style="width:80%">
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                      </mat-form-field>
                  </div>
              </div>  
              <div class="col-6 col-md-2" style="padding-top:10px; padding-right:30px;">
                  <button *ngIf='role[0]=="admin"' mat-raised-button (click)="eliminarHistorial()" style="float:right" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
              </div>
              <div style="margin-top:0px; margin-left: 15px; padding-left: 17px !important; padding-right: 3px" class="col-5 col-md-3">
                <angular2-date-picker  
                    [(ngModel)]="dateBefore" 
                    [settings]="settings" >
                </angular2-date-picker>
              </div>
              <div style="margin-top:0px; padding-left: 3px !important" class="col-5 col-md-3">
                <angular2-date-picker 
                    [(ngModel)]="dateAfter"
                    [settings]="settings" >
                </angular2-date-picker>
              </div>
              <div class="col-1 col-md-1 buscar" style="padding-top:3px; padding-right: 25px; padding-left: 5px !important">  
                <button  (click)="fechaIngresada()" style="float:right" class="btn btn-sm  buscar"><i class="fa fa-search"></i></button>
              </div>
              
          </div>
        </div>  

      <div class="loading" *ngIf="loading">
          <img src="../../../assets/images/loader.gif" alt="">
     </div>
     <div style="height:430px">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Fecha</b>  </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                  </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Insumo">
              <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Insumo</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="lote">
                <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Lote(destino)</b>  </th>
                <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
              </ng-container>

            <ng-container matColumnDef="clasificacion">
              <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Clasificacion</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.clasificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="proveedor">
                <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Proveedor</b>  </th>
                <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
              </ng-container>
        
            <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef> <b style="color:black;">Cantidad </b>  </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
              </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="UnidadMedida">
              <th mat-header-cell *matHeaderCellDef><b style="color:black;">Unidad de empaque</b>  </th>
              <td mat-cell *matCellDef="let element"> {{element.unidadMedida}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="CostoUnidad">
                <th mat-header-cell *matHeaderCellDef><b style="color:black;">Costo por Unidad </b></th>
                <td mat-cell *matCellDef="let element">${{element.CostoUnidad}} <span style="color:#A9A9A9">COP</span> 
                                                    <!--<span *ngIf="'element.costo' != 0 && 'element.cantidad' == 0"><h6>0</h6></span>
                                                        <span *ngIf="'element.costo' == 0 && 'element.cantidad' != 0"><h6>{{element.costo/element.cantidad}} </h6></span> 
                                                        <span *ngIf="'element.costo' == 0 && 'element.cantidad' == 0"><h6>0</h6></span> -->
                </td>
              </ng-container>
          
              <ng-container matColumnDef="CostoTotal">
                <th mat-header-cell *matHeaderCellDef><b style="color:black;">Costo Total </b>  </th>
                <td mat-cell *matCellDef="let element"> ${{element.costo}} <span style="color:	#A9A9A9">COP</span> </td> 
              </ng-container>

              <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef><b style="color:black;"> Acción </b>  </th>
                <td mat-cell *matCellDef="let element"><span *ngIf="element.accion=='Adición'" style="color:green;"><b>{{element.accion}}</b></span> 
                                                        <span *ngIf="element.accion=='Extracción'" style="color:red;"><b>{{element.accion}}</b></span>
                                                        <span *ngIf="element.accion=='Insumo Nuevo'" style="color:blue;"><b>{{element.accion}}</b></span></td>
              </ng-container>
            
            <!-- Symbol Column -->
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator style="width:98%" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
     </div>
    </mat-tab>
</mat-tab-group>



